[Desktop Entry]
Name=Jellyburn
Comment=Browse your Jellyfin music library and burn audio CDs
Exec=jellyburn
Icon=de.pixelsandmore.Jellyburn
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Music;
Keywords=jellyfin;music;cd;burn;audio;
StartupNotify=true
